* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: black;
  border-bottom: 1px solid rgb(155, 136, 31);
}

.logo {
  color: gold;
  width: 3em;
}

.navbar a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
nav.navbar {
  padding-top: 15px;
}
.navbar a:hover {
  color: gold;
  text-decoration: underline;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 2px solid gold;
  padding-bottom: 1px;
}
section {
  padding: 4% 10%;
}
.about-us {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
}
.main-image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 560px;
}

.text {
  padding: 6% 0;
}
.text h4 {
  color: gold;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text h1 {
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}
hr {
  width: 30%;
  border: none;
  height: 2px;
  background-color: gold;
  margin-bottom: 50px;
}
.text p {
  max-width: 600px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 60px;
}
.last-text {
  display: flex;
}
.text1 {
  margin-right: 60px;
}
.last-text h3 {
  color: gold;
  font-size: 60px;
  font-weight: 700;
}
.last-text h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.footer {
  background-color: #000000;
  color: white;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #ffd902;
}

.footer-title span:hover {
  cursor: pointer;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.social-icons i {
  color: #ffd902;
  font-size: 1.5em;
}

@media screen and (max-width: 1385px) {
  section {
    padding: 4% 4%;
    transition: 0.3s;
  }
  .main-image img {
    width: 500px;
    height: 790px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1023px) {
  header {
    padding: 12px 20px;
    font-size: 1em;
  }
  .social-icons {
    font-size: 0.7em;
    gap: 5px;
  }
  .footer-title {
    font-size: 0.8em;
  }
  .navbar a {
    padding-left: 10px;
    font-size: 0.8em;
  }
  h1 {
    font-size: 3.2rem;
  }
  .navbar a {
    margin-left: 10px;
  }
  .logo {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1240px) {
  .text h1 {
    font-size: 30px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1040px) {
  .about-us {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .main-image {
    padding-top: 40px;
  }
}

@media screen and(max-width:641px) {
  body {
    font-size: 12px;
  }
  .main h2 {
    font-size: 0.8em;
  }
  .main h3 {
    font-size: 1.4em;
  }
  .logo {
    font-size: 7px;
  }
}
