/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: black;
}



.logo { width: 3em; }
.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
}
.navbar a:hover {
  color: gold;
  text-decoration: underline;
}

/* Crypto Section */
.crypto-section {
  padding: 60px 10%;
  background: #111 url('../assests/images/particles-bg.png') no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
}
.crypto-section h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.crypto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.crypto-card {
  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #1b1b12;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
  height: auto; /* fixed height to align cards */
  margin: 15px;
  overflow: hidden;
}

.crypto-card:hover {
  transform: translateY(-5px);
  background-color: #ebc90b;
  color: black;
}

.coin-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.crypto-card h2 {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.crypto-card p {
  margin-top: auto; /* push price + badge to bottom */
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px; /* space between price and badge */
}
/* Footer */
.footer {
  position: relative;
  z-index: 10;
  background-color: black;
  color: white;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-title span { color: gold; }
.footer-title span:hover { cursor: pointer; }
.social-icons { display: flex; gap: 40px; }
.social-icons i { color: gold; font-size: 1.5em; }
.social-icons i:hover { color: white; transform: scale(1.2); transition: 0.3s ease; }


#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* behind all content */
}

.crypto-section {
  position: relative;
  z-index: 1; /* above particles */
  padding: 60px 10%;
  text-align: center;
  color: white;
}


.price-change {
  font-weight: bold;
  margin-top: 8px;
  font-size: 1em;
}

.price-change .up {
  color: #00c853; /* green */
}

.price-change .down {
  color: #d50000; /* red */
}



.badge {
  display: inline-block;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9em;
  color: white;
}

.badge.up {
  background-color: #00c853; /* green */
}

.badge.down {
  background-color: #d50000; /* red */
}
